// Базовые цвета
$black:                 hsl(0, 0%, 0%);
$gray-dark:             hsl(0, 0%, 20%);
$gray:                  hsl(0, 0%, 50%);
$gray-light:            hsl(0, 0%, 80%);
$white:                 hsl(0, 0%, 100%);

// Семантические цвета

// Базовая типографика
$font-size:             19px;
$font-size-h1:          1.2em;
$font-size-h2:          2.2em;

$line-height:           2;

$font-family:           'Source Sans Pro', 'sans-serif';
$font-family--icons:    'FontAwesome';